@media only screen and (max-width:920px) {
    .mb1-box, .mb2-box {
        width: calc(50% - 15px);
    }
    .mb1-box:nth-child(2n), .mb2-box:nth-child(2n) {
        margin-right: 0;
    }
    .mb2-box {
        min-width: auto;
        padding: 7px;
    }
    .mb1-box {
        padding: 30px 0;
    }
}
@media only screen and (max-width:767px) {
    div#btnMenu > i {
        font-size: 25px;
        cursor: pointer;
    }
    div#btnMenu {
        text-align: right;

        margin: 15px 15px 0 0;
    }
    .mobi-show{
        display: block;
    }
    .side-menu {
        width: 100%;
        min-height: auto;
        z-index: 9;
        margin-top: 10px;
    }
    .side-menu-bottom {
        position: relative;
        bottom: auto;
        padding-bottom: 15px;
    }
    .side-menu {
        display: none;
    }
    .main-content {
        width: 100%;
    }
    .main-footer {
        position: relative;
        bottom: unset;
        width: 100%;
        font-size: 13px;
    }
    .main-body {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
    }
}
@media only screen and (max-width:560px) {
    .log-box.error-box span {
        font-size: 17px;
    }
    .log-box.success-box span {
        font-size: 20px;
    }
    .mb-box {
        margin-top: 10px;
    }
    .main-head {
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
    span.m-title {
        font-size: 15px;
        padding-left: 8px;
    }
    .mh-right {
        font-size: 13px;
    }
    .mh-left {
        font-size: 22px;
    }
    .main-content {
        padding: 20px 15px;
    }
    .mb1-box, .mb2-box {
        width: calc(50% - 7px);
    }
    .landing-box {
        width: calc(100% - 30px);
        top: 10%;
        left: 15px;
    }
    .log-box {
        padding: 50px 50px 40px;
    }
    .mb1-box, .mb2-box {
        margin-right: 10px;
    }
    .mb2-box > span, .mb2-box > img  {
        display: inline-block;
    }
    .mh-right > img {
        margin-right: 5px;
        width: 25px;
    }
}

@media only screen and (max-width:420px) {
    
    
    .log-box {
        padding: 50px 30px 40px;
    }
    img.login-logo {
        width: 200px;
    }
    .log-box.transparent {
        padding-top: 0;
        padding-bottom: 0;
    }
    
}